@model Code_BreakersEventBudget.List

@{
    ViewBag.Title = "ListEvents";
    var vList = (List)@ViewBag.ExampleList;

}

<h2>ListEvents</h2>

<div>
    <h4>List</h4>
    <hr />

    
    Budget: @Html.DisplayFor(model => model.Budget)

    @*<p>Budget: @vList.Budget</p>*@
    @using (Html.BeginForm())
    {
        <p>Gift For: @Html.TextBoxFor(x => x.GiftFor)</p>
        <p>Product: @Html.TextBoxFor(x => x.Product)</p>
    }

    <input type="submit" value="Search" class="btn btn-default" />


       @*<dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Email)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Email)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Discription)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Discription)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Budget)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Budget)
                </dd>

            </dl>*@
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
