@{
    ViewBag.Title = "DisplayAPIData";
}
<br />

@Html.ActionLink("Back to Continue Shopping", "ContinueShopping", new { id = ViewBag.ListID })

<h3>Display the Items</h3>
<img src="~/Scripts/image/budgetbuddy_logo2.png" style="width:400px; float:right" />
<div>
    <hr />
    <table border="1">

        <tr>
            <th style="visibility:hidden">ListID</th>
            <th style="visibility:hidden">UserID</th>
            <th style="background-color:snow; padding:0 0 0 10px"> Item Name</th>
            <th style="background-color:snow; padding:0 0 0 10px">Price</th>
            <th style="background-color:snow; padding:0 0 0 10px">Thumbnnail URL</th>
            @*<th>ProductURL</th>*@
            <th style="background-color:snow">Actions</th>
        </tr>
        @foreach (ListItem listItem in ViewBag.listItems)
        {
            <tr>
                <td style="visibility:hidden">@listItem.ListID</td>
                <td style="visibility:hidden">@listItem.UserID</td>
                <td style="background-color:snow; padding:0 0 0 10px">@listItem.ProductName</td>
                <td style="background-color:snow">$@listItem.Price</td>
                <td style="background-color:snow"><img src="@listItem.ThumbnailUrl" /></td>
                @*<td>@listItem.ProductUrl</td>*@
                <td style="background-color:snow">@using (Html.BeginForm("AddAPIValueToList", "Home", new {Product = listItem.ProductName, Price = listItem.Price , ListId= listItem.ListID, UserId= listItem.UserID, ThumbnailUrl = listItem.ThumbnailUrl, GiftFor = listItem.GiftFor, ProductUrl = listItem.ProductUrl }))
                {
                <input type="submit" value="Add to List" />}
               </td>
            </tr>
        }
    </table>
</div>