@model Code_BreakersEventBudget.PersonalInfo
<head>
    @Styles.Render("~/ContentCustom/css")
    @{
        ViewBag.Title = "Index";
    }
    <link href="~/Content/HomeCSS.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300" rel="stylesheet">

        <style>
                /*.form-control {
                    display: inline;
                        }*/
                .col-centered{
            margin: 0 auto;
            float: none;
        }
            </style>
</head>
<body style="background-image: url('../../Content/homebackground.jpg'); margin-top:0 auto">

    <header>
        <img src="~/Content/home_tag.png" width="700" style="margin:0" />
    </header>

    <h1>ENTER YOUR INFORMATION</h1>
    @using (Html.BeginForm())
    {

        @Html.AntiForgeryToken()

        <div class="form-horizontal col-centered">
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-5" })

                <div class="col-md-7">
                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Name, "*")
                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger col-md-4" })

                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-5" })
                <div class="col-md-7">
                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Name, "*")
                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger col-md-5" })
                </div>
            </div>           
            <div class="form-group">
                <div class="col-md-offset-2 col-md-8">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </div>
            <input name="id" type="text" value="@ViewBag.UserId" style="visibility:hidden" />
        </div>

         

    }
</body>
